<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<title>
		<font-color>0,0,0</font-color>
		<font-size>14</font-size>
		<font-family>Cardo</font-family>
	</title>
	<text>
		<font-color>0,0,0</font-color>
		<font-size>8</font-size>
		<font-family>Cardo</font-family>
	</text>
	<comment>
		<font-color>0,0,0</font-color>
		<font-size>12</font-size>
		<font-family>Cardo</font-family>
	</comment>
	<contributor>
		<font-color>0,0,0</font-color>
		<font-size>12</font-size>
		<font-family>Cardo</font-family>
	</contributor>
	<db-host>
		127.0.0.1
	</db-host>
	<db-port>
		3306
	</db-port>
	<db-name>
		printwiki
	</db-name>
	<db-user>
		root
	</db-user>
	<db-pass>
		
	</db-pass>
	<article-bunch>
		5000
	</article-bunch>
	<page-file-limit>
		700
	</page-file-limit>
	<start-page>
		0
	</start-page>
	<time-limit>
		330
	</time-limit>
	<thread-limit>
		6
	</thread-limit>
	<log-folder>
		./logs
	</log-folder>
	<output-file-name>
		output.pdf
	</output-file-name>
	<output-folder>
		./output
	</output-folder>
	<img-folder>
		./output/img
	</img-folder>
</settings>
